html {
  background-color: #ffea00;
  font-family: Lato, sans-serif;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

.logo {
  text-align: center;
  max-width: 200px;
}

nav {
  text-align: center;
}

nav a {
  font-family: Merriweather, serif;
  text-decoration: none;
  color: #000;
}

footer a {
  font-family: Merriweather, serif;
  text-decoration: none;
  color: #000;
}

nav a:hover {
  color: #2a7789;
}

footer a:hover {
  color: #2a7789;
}

.register a {
  border: solid #000 2px;
  border-radius: 30px;
  padding: .35em 1em;
}

.register a:hover {
  color: #2a7789;
  border-color: #2a7789;
}

h1 {
  font-family: Merriweather, serif;
  color: #2a7789;
  margin-left: .5em;
}

.banner-words {
  background-color: #2a7789;
}

.banner-words p {
  font-family: Lato, sans-serif;
  color: #fff;
}

.banner-words .btn {
  background-color: #fff;
  border: solid #ffea00 7px;
  border-radius: 40px;
  color: #2a7789;
}

.banner-words .btn:hover {
  background-color: #2a7789;
  color: #fff;
  border-color: #ffea00;
}

h2 {
  font-family: Merriweather, serif;
  text-align: center;
}

.btn {
  background-color: #fff;
  border: solid #2a7789 7px;
  border-radius: 40px;
  color: #2a7789;
}

.btn:hover {
  background-color: #2a7789;
  color: #fff;
  border-color: #2a7789;
}

.customers {
  max-width: 300px;
}

.sign-up {
  background-color: #fff;
}

fieldset {
  border: none;
}

select,
input,
textarea,
input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  border-color: #2a7789;
  border-radius: 15px;
}

.sign-up .btn {
  text-decoration: none;
  color: #000;
}

.sign-up .btn:hover {
  color: #fff;
}

.customers img {
  max-width: 300px;
}

h3 {
  font-family: Lato, sans-serif;
  color: #2a7789;
}

.business {
  color: #fff;
}

.trusted {
  background-color: #fff;
}

.let-us-help {
  background-color: #fff;
  padding-bottom: 10em;
}

.let-us-help img {
  height: 60%;
}

footer .btn {
  border: none;
  font-family: Lato, sans-serif;
}

footer .btn:hover {
  background-color: #2a7789;
  color: #fff;
}

.link-card {
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 10px;
  text-align: center;
}

.link-card-header {
  border-bottom: 3px solid #000;
  margin-bottom: 1.5em;
}

.link-card-header-highlight {
  background-color: #2a7789;
  color: #fff;
}

.link-small {
  padding: 0 2.25em;
}

.plans {
  background-color: #fff;
}

.quote {
  border: 7px solid #ffea00;
  border-radius: 10px;
  text-align: center;
}

.register-form {
  background-color: #fff;
}

.final-step {
  background-color: #fff;
}

.y {
  color: green;
}

.n {
  color: #931616;
}

@media only screen and (min-width: 48em) {

  .logo {
    text-align: left;
  }

  nav {
    text-align: right;
  }

  .let-us-help {
    padding-bottom: 5em;
  }

  .let-us-help img {
    height: 80%;
  }

  .carousel {
    visibility: hidden;
  }

  .offers {
    visibility: visible;
  }

}
